body {
    background-image: url("images/hauntedHouse.jpg");
    background-size: cover;
}
button {
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #FF9100;
    color: #fff;
}
.enterButton {
    position: absolute;
    left: 840px;
    top: 568px;
}
.stayButton {
    position: absolute;
    left: 125px;
    top: 575px;
}